<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86CC8E991AC09332001CCD89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B183A4731A8535D100C76870</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B18FF3A41A9FE25700C0C3B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
